* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    overflow:hidden;
    /*
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;*/
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        margin: -90px 0px 0px -198px;
    }
}

h1 {
    font-size: 24px;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    border-bottom: 1px solid;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    padding-bottom: 0.6em;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

    .event.listening {
        background-color: #333333;
        display: block;
    }

    .event.received {
        background-color: #4B946A;
        display: none;
    }

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.right_flap {
    position: fixed;
    top: 83px;
    right: 0;
    bottom: 0;
    width: 20%;
    max-width: 8px;
}

    .right_flap div {
        width: 100%;
        height: 12%;
        position: relative;
        margin-bottom: 1em;
    }

.ebezpeci .right_flap span {
    display: block;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
}

.icon_more {
    position: relative;
    top: 1em;
}

.introduction_text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.plus {
    color: #ffffff;
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    margin-left: 10px;
    /* font-weight: normal; */
    display: inherit;
    float: left;
    position: relative;
    top: -0.3em;
    font-weight: lighter;
}

.icon_text {
    float: left;
    /*font-size: 3em;*/
}



    .icon_text a:link, a:visited {
        color: #ffffff;
        display: inline-block;
    }

.plus a:link, .plus a:visited, .plus a:active {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

.top_image {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    .top_image:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background: rgba(129,0,132,0.82);
    }

    .top_image img {
        max-width: 100%;
    }

.subtitle_text {
    padding-top: 1em;
    padding-bottom: 2em;
    /*font-size: 2.5em;*/
    font-family: 'Exo',sans-serif;
    line-height: 1.5em;
}

.container {
    width: 80%;
    height: calc(100% - 71px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    margin: auto;
    overflow-x: auto;    
}

p {
    line-height: 1.5;
    /*font-size: 2.5em;*/
    font-family: 'Roboto',sans-serif;
}


ul {
    list-style-position: outside;
}

li {
    /*font-size: 2.5em;*/
    font-family: 'Roboto',sans-serif;
    line-height: 1.5;
}

h2 {
    padding-top: 1em;
    /*font-size: 3.7em;*/
    border-bottom: 1px solid;
    font-family: 'Roboto',sans-serif;
    padding-bottom: 0.5em;
}

.purple {
    background-color: #982e9a !important;
}

.orange {
    background-color: #ff7f36 !important;
}

.red {
    background-color: #fa3048 !important;
}

.blue {
    background-color: #184e79 !important;
}

.aqua {
    background-color: #2daba9 !important;
}

.logo {
    width:70%; padding-right:56px; margin:auto;
}
